<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if latest_performances %}
    <ul>
        {% for performance in latest_performances %}
        <li><a href="{% url 'performance' performance.slug %}">
            {{performance.title}} by {{performance.composer}}
        </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No performances are available.</p>
    {% endif %}
</body>
</html>