{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Performances</title>
    <link rel="stylesheet" href="{% static 'perf_index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {% endblock %}
</head>
<div>
<body>
    {% block content %}
    <details>
        <summary>Filter Performances</summary>
    <form method="GET" id="filter_form">
        {{ performance_search_form.as_p }}
        {{ sort_form.as_p }}
        <button type="submit" class="styled-button">Search</button>
    </form>
    </details>

    {% if performances %}
    <div class="performances-list">
        {% for performance in performances %}
        <div class="performance-row">
            <div class="container">
                {% with performance.link|slice:"30:41" as youtube_id %}
                <img class="thumbnail" src="https://img.youtube.com/vi/{{youtube_id}}/default.jpg" alt="Thumbnail">
                {% endwith %}
                <div class="details">
                    <a href="{% url 'performance' performance.slug %}" id="PerformanceTitle">
                        {{ performance.title }} by {{ performance.composer }}
                        {% if performance.arranger %} arranged by {{ performance.arranger }} {% endif %}
                    </a>
                    <p id="PerformanceOther">
                        {{ performance.piece_type }}
                        {% if performance.event %} performed for {{ performance.event }} {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No performances are available.</p>
    {% endif %}

    <script>
        $(document).ready(function() {
            $('.multi-checkbox-dropdown-insts').select2({
                placeholder: "Select instruments",
                closeOnSelect: false,  
                allowClear: true
            });
        });

        $(document).ready(function() {
            $('.multi-checkbox-dropdown-piece-type').select2({
                placeholder: "Select Piece Types", 
                closeOnSelect: false,
                allowClear: true                  
            });
        });

        // document.getElementById('filter_form').addEventListener('change', function() {
        //     this.submit();
        // });
    </script>
    {% endblock %}
</body>
</html>