{% extends 'performances/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <form method="GET">
        {{ performance_search_form }}
        <button type="submit">Search</button>
    </form>

    {% if performances %}
    <ul>
        {% for performance in performances %}
        <li><a href="{% url 'performance' performance.slug %}">
            {{performance.title}} by {{performance.composer}}
        </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No performances are available.</p>
    {% endif %}
    {% endblock %}
</body>
</html>