{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <link rel="stylesheet" href="{% static 'performance.css' %}">
    <title>Document</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1 id="PieceTitle">
        {{piece.title}}
    </h1>
    <h2 id="PieceWriters">Composed by {{piece.composer}}
    {% if piece.arranger %} 
        <br>Arranged by {{piece.arranger}}
        {% endif %}</h2>
        <div class="container">
            <div class="column">
                <p id="PieceType">Piece Type: {{piece.piece_type}}</p>
                <p id="InstrumentUsed"> <span id="InstrumentUsedLabel">Instruments Used:</span> {% for instrument in instruments %}
                        {{ instrument }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p id="Description">{{piece.description}}</p>
                {% if piece.music_link %}
                <a href="{{piece.music_link}}" id="MusicLink" target="_blank">Click Here For Music</a>
                {% endif %}
            </div>
        
            <div class="column">
                    <p id="PerformerLabel">Performed by
                        {% if players|length == 1 %}
                            {{ players.0 }}
                        {% elif players|length == 2 %}
                            {{ players.0 }} and {{ players.1 }}
                        {% else %}
                            {% for player in players %}
                                {% if forloop.last %}
                                    and {{ player }}
                                {% else %}
                                    {{ player }},
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
                {% if piece.event %}
                    <p id="Event">Performed for {{ piece.event }}</p>
                {% endif %}
                <iframe width="560" height="315" src="{{piece.link}}?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    {% endblock %}
</body>
</html>