{% extends 'performances/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h1>
        {{piece.title}} by {{piece.composer}} 
    </h1>
    {% if piece.arranger %} 
        <h2>Arranged by {{piece.arranger}}</h2>
        {% endif %}
    <h3>Performed by:{% for player in players %}
        <li>{{player}}</li>
        {% endfor %}
    </h3>
    {% if piece.event %}
    <h4>Performed for {{piece.event}}</h4>
    {% endif %}
    <p> {{piece.description}} </p>
    <h5> {{piece.type}} </h5>
    <ul>
        {% for instrument in instruments %}
            <li> {{instrument}} </li>
        {% endfor %}
    </ul>
    <iframe width="560" height="315" src="{{piece.link}}?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>{% if piece.music_link %}
    <a href="{{piece.music_link}}">Find Music Here</a>
    {% endif %}</p>
    {% endblock %}
</body>
</html>