form {
    margin-left: 20px; 
    }

    .styled-input {
        border: 1px solid #aaa; 
        border-radius: 4px; 
        padding: 6px 12px; 
        font-size: 14px; 
        width: 50%; 
        box-sizing: border-box; 
    }

    .styled-button {
    background-color: #f8f9fa;
    border: 1px solid #aaa; 
    border-radius: 4px; 
    padding: 6px 12px; 
    font-size: 14px; 
    color: #333; 
    cursor: pointer; 
    transition: background-color 0.2s ease; 
    }

    .styled-button:hover {
        background-color: #e2e6ea; 
    }

    .styled-button:active {
        background-color: #d6d8db; 
    }

    summary {
        font-size: 16px; 
        margin-top: 10px;
        margin-left: 20px; 
        font-weight: bold; 
        color: #000000; 
        display: block; 

    }

    summary:hover {
        cursor: pointer; 
        color: #555;
    }

    .performance-row {
        padding: 10px 10px 5px 10px; 
        border-bottom: 3px solid #000000; 
    }
    
    .performance-row:last-child {
        border-bottom: none; 
    }
    
    .performance-row p {
        margin: 5px 0; 
        line-height: 1.4; 
    }
    
    .performances-list {
        margin-top: 20px; 
    }


#PerformanceTitle,
#PerformanceOther {
    font-weight: bold;
    margin: 5px auto; 
    max-width: 80%; 
    padding: 5px; 
    box-sizing: border-box; 
    display: block; 
    text-align: left;
}

#PerformanceTitle {
    font-size: 21px; 
}

#PerformanceOther {
    font-size: 17px; 
}
    