{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block title %}<title>Document</title>{% endblock %}
</head>
<body>
    <p id="RZPercussion">RZPercussion</p>
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">About Me</a></li>
                <li><a href="{% url 'rz_performance_index' %}">Performances</a></li>
                <li><a href="{% url 'rz_composition_index' %}">Compositions</a></li>
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <a href="https://www.instagram.com/rz.percussion/"><img src="{% static 'instagram.png' %}" alt="Instagram Link" id="social" target="_blank"></a>
        <a href="https://www.tiktok.com/@rzpercussion"><img src="{% static 'tiktok.png' %}" alt="TikTok Link" id="social" target="_blank"></a>
      </footer>
</body>
</html>